:root {
    --bg: #e2e3e3;
    --text: #021313;
    --text-muted: #2f72ec;
    --primary: #037878;
    --error: #ea6060;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    line-height: 1.6;
    padding: 20px;
}

br {
    height: 1rem;
}

p {
    color: var(--text);
    margin-bottom: 1.2rem;
}

strong {
    color: var(--primary);
    font-size: 1.2rem;
}

a {
    color: var(--text-muted);
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}